


fieldset {
    margin-bottom: 15px;
    width: 80%;
    padding: 10px;
  }
   
  legend {
    padding: 0px 3px;
    font-weight: bold;
    font-variant: small-caps;
  }
   
  label {
    width: 110px;
    display: inline-block;
    margin: 6px;
  }
  
input, textarea{

    width: 250px;
}

textarea{

    height: 100px;
}

input[type=radio] {
    width: 10px;
  }
   
  input[type=submit] {
    width: 150px;
    padding: 10px;
  }



